$max-width-button: 700px;

.serial-page {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.serial-button {
    background: #444444;
    color: white;
    text-decoration: none;
    max-width: $max-width-button;
    width: 100%;
    display: inline-block;
    line-height: 40px;
    margin: 0 auto;
    margin-top: 5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 2px solid black;
    background: #444444;
}

.back-to-serials-button {
    line-height: 40px;
    background: white;
    text-decoration: none;
    color: black;
    display: inline-block;
    margin: 0 auto;
    width: 100%;
    max-width: $max-width-button / 2;
    margin-bottom: 20px;
}

.serial-name {
    font-weight: bold;
    margin-bottom: 10px;
}

.divider {
    margin: 0 auto;
    width: 100%;
    height: 1px;
    background: white;
    max-width: $max-width-button;
    margin-top: 20px;
    margin-bottom: 20px;
}

.series {
    span {
        display: inline-block;
        margin: 0 auto;
        width: 100%;
        font-weight: bold;
    }
}