.video-player {
    .video-js {
        width: 100%;
        height: 400px;
    }
    span {
        font-weight: bold;
    }
    .vjs-big-play-button {
        top: 45%;
        left: 45%;
    }
}

.play-info {
    width: 50%;
    background: yellow;
    display: inline-block;
    height: 50px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 2px solid black;
}

.autoplay-checkbox {
    margin: 0;
    position: absolute;
    top: 50%;
    right: 10%;
    -ms-transform: translateY(-50%) scale(1.3);
    transform: translateY(-50%) scale(1.3);
    /* Double-sized Checkboxes */
    -moz-transform: translateY(-50%) scale(1.3); /* FF */
    -webkit-transform: translateY(-50%) scale(1.3); /* Safari and Chrome */
    -o-transform: translateY(-50%) scale(1.3); /* Opera */
}
.random-button {
    font-weight: bold;
    border: 2px solid black;
    border-radius: 2px;
    height: 30px;
    width: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 5%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.random-section {
    float: left;
    height: 50px;
    display: inline-block;
    background: #d0d4db;
    color: black;
    font-weight: bold;
    width: 50%;
    position: relative;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 2px solid black;
    background: #d0d4db;
}

.part-button {
    background: #d0d4db;
    cursor: pointer;
    color: black;
    font-weight: bold;
    width: 100%;
    position: relative;
    line-height: 20px;
    margin-top: 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 2px solid black;
    background: #d0d4db;

    &.active {
        background: yellow;
    }
    .part-number {
        position: absolute;
        left: 10px;
    }
}

@media (max-width: 1024px) {
    .video-player {
        .video-js {
            height: 350px;
        }
    }
}

@media (max-width: 767px) {
    .video-player {
        .video-js {
            height: 300px;
        }
    }
}

@media (max-width: 600px) {
    .video-player {
        .video-js {
            height: 250px;
        }
        .vjs-big-play-button {
            top: 42%;
            left: 39%;
        }
    }
}