.video-player {
    .video-js {
        width: 100%;
        height: 400px;
    }
    span {
        font-weight: bold;
    }
    .vjs-big-play-button {
        top: 45%;
        left: 45%;
    }
}

.part-button {
    background: #d0d4db;
    cursor: pointer;
    color: black;
    font-weight: bold;
    width: 100%;
    position: relative;
    line-height: 20px;
    margin-top: 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 2px solid black;
    background: #d0d4db;

    &.active {
        background: yellow;
    }
    .part-number {
        position: absolute;
        left: 10px;
    }
}

@media (max-width: 1024px) {
    .video-player {
        .video-js {
            height: 350px;
        }
    }
}

@media (max-width: 767px) {
    .video-player {
        .video-js {
            height: 300px;
        }
    }
}

@media (max-width: 600px) {
    .video-player {
        .video-js {
            height: 250px;
        }
        .vjs-big-play-button {
            top: 42%;
            left: 39%;
        }
    }
}