@font-face{
  font-family: "PrcinkaFont";
  src: url("../components/font.ttf") format("truetype");
}

$size: 450px;
$border: 15px;
$imgBorder: 10px;

.layout {
  font-family: 'PrcinkaFont', cursive;
  font-size: 50px;
  font-weight: 600;
  position: relative;

  width: $size + $border + $imgBorder;
  height: $size;

  .wrapper {
    position: absolute;

    .photoWrapper {
      text-align:center;
      display:inline-block;
      list-style:none;
      position:relative;
      border:solid $border #fff;
      background:#fff;
      box-shadow:0 0 $border 0 #555;

      &.invisible {
        left: -2000px;
      }
      &.visible {
        left: 0;
      }
      transition:left 2s ease;
      -o-transition:left 2s ease;
      -moz-transition:left 2s ease;
      -webkit-transition:left 2s ease;

      img {
        object-fit: cover;
        border: $imgBorder solid black;
        background-color: black;
        width: $size;
        height: $size;
      }

      p{
        margin: 15px 0;
      }
    }
  }
}

@media (max-width: 1150px) {
  $size: 400px;
  .layout {
    width: $size + $border + $imgBorder;
    .wrapper {
      .photoWrapper {
        img {
          width: $size;
          height: $size;
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  $size: 350px;
  .layout {
    width: $size + $border + $imgBorder;
    .wrapper {
      .photoWrapper {
        img {
          width: $size;
          height: $size;
        }
      }
    }
  }
}

@media (max-width: 540px) {
  $size: 300px;
  .layout {
    width: $size + $border + $imgBorder;
    .wrapper {
      .photoWrapper {
        img {
          width: $size;
          height: $size;
        }
      }
    }
  }
}