@font-face{
  font-family: "NewFont";
  src: url("./font.ttf") format("truetype");
}


.prcinka {
  padding-top: 50px;
}

.line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 0 200px 0;

  .item {
    display: flex;
    position: relative;
    margin-bottom: 0;
  }
}

.text {
  font-family: 'NewFont', cursive;
}

.welcomeText {
  font-size: 55px;
  margin: 250px 0;
}

.text1 {
  font-size: 50px;
  margin: 250px 0 150px 0;
}
.dividerText {
  font-size: 50px;
  padding: 100px 0 50px 0;
}
.divider {
  opacity: 0;
  margin: 250px 0;
}
.sexySection {
  font-size: 70px;
  font-weight: 900;
}


@media (max-width: 1400px) {
  .line {
    justify-content: space-around;
    margin: 0 0 200px 0;
  }
}

@media (max-width: 1150px) {
  .line {
    justify-content: space-around;
    margin: 0 0 120px 0;
  }
}
@media (max-width: 868px) {
  .welcomeText {
    margin: 150px 0;
  }
  .text1 {
    margin: 150px 0;
  }
  .dividerText {
    padding: 50px 0 20px 0;
  }

  .line {
    flex-direction: column;
    justify-content: unset;
    align-items: center;
    margin: 0 0 0 0;
    .item {
      margin-bottom: 100px;
    }
  }
}

@media (max-width: 540px) {
  .line {
    margin: 0 0 0 0;
    .item {
      margin-bottom: 20px;
    }
  }
}